/*body {
	font-family: 'PT Sans', sans-serif;
}*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Noto Sans', sans-serif; 
	font-size: 1.2em;
}
	
a, h1, h2, h5 {
	text-decoration: none;
	text-align: center;
	color: inherit;
}

a[target='_blank']{
	color: blue;
}
	
a[target='_blank']::after {content: '\2750';}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
}
		
.jumbo {
	font-family: 'Fredericka the Great', cursive;
	font-size: 3em;
	text-align: center;
}
		
.inner a {
	color: inherit;
	text-decoration: none;
	text-align: center;
}
	
.btn {
	width: 5em;
	height: 3em;
	background-color: white;
	border: 1px solid;
}
		
.btn:hover {
	background-color: grey;
	color: white;
	border: 1px solid black;
}
				
.wide-btn {
	display: block;
}
		
.code-text {
	font-family: 'Press Start 2P', cursive;
}
	
.code-wide-btn:hover {
	background-color: black;
	color: green;
}
		
.literary-text {
	font-family: 'Special Elite', cursive;
}
	
.writer-wide-btn:hover {
	text-decoration: line-through;
}

.playful-text {
	font-family: 'Unkempt', cursive;
}
		
.rainbow-wide-btn:hover {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
		
.easter-egg {
	position: fixed;
	float: left;
	top: 25px;
	left: 179px;
	color: white;
}
		
.easter-egg:hover {
	width: 5em;
	background-color: white;
	color: grey;
}

main {
	margin-left: 1em;
	margin-right: 1em;
	border:1px solid;
	border-bottom: none;
	min-height: calc(100% - 300px);
}

.main-div {
	padding: 1.5em;
}
	
nav {
	text-align: center;
	margin-bottom: 1.5em;
}
	
.nav-btn {
	display: inline-block;
	border: 1px solid;
	padding: 1em;
	text-align: center;
	margin-bottom: .5em;
}

.rect-btn {
	width: 7em;
}
	
.nav-btn:hover {
	background-color: grey;
	color: white;
}
	
.nav-btn-selected {
	background-color: #d0d0d0;
	color: black;
}

blockquote{
  font-size: 30px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: .5em 10px;
  padding: 0 10px;
  quotes: "\201C""\201D""\2018""\2019";
  padding: 10px 20px;
  line-height: 1.4;
}

blocquote:before {
  content: open-quote;
  display: inline;
  height: 0;
  line-height: 0;
  left: -10px;
  position: relative;
  top: 30px;
  color: #ccc;
  font-size: 3em;
}

p{
  margin: 0;
}

.author{
  margin:0;
  text-align: right;
  font-size: 1em;
  font-style: italic;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;  
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #1f6cda;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 30%;
}

input[type=submit]:hover {
	background-color: #6097e6;
}

.container {
	width: 80%;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin: auto;
}